body {
  justify-content: center;
  min-height: 100vh;
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  font-family: "Outfit", sans-serif;
  overflow: hidden;
}

#logo-container img {
  max-width: 200px;
  margin-bottom: 50px;
  margin-left: 100px;
  top: 30px;
}

h1 {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  font-size: bold;
}

p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

#svg-holder {
  display: flex;
  justify-content: center;
}

#feedback-p {
  margin-top: 70px;
}

.svgs {
  margin-left: 18px;
  justify-content: center;
}

#text-input {
  width: 500px;
  color: white;
  background: transparent;
  border: none;
  font-size: 1.2em;
  border-width: 0px;
  border: none;
}

#input-div {
  text-align: center;
  margin-top: 40px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

hr {
  width: 600px;
  background-color: pink;
  border: 0;
  border-top: 2px solid rgba(176, 18, 84, 0.429);
  border-top: 1px sol;
}

#hr-div {
  width: 400px;
}
button {
  background-color: #00ffff;
  height: 50px;
  width: 190px;

  margin-top: 80px;
  color: black;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  box-shadow: 5px 5px 50px #00ffffc5;
  font-weight: bold;
  outline: 0;
  border: none;
  cursor: pointer;
}

#btn-holder {
  text-align: center;
}

.starColor {
  fill: #00ffff;
}

.colorOff {
  fill: black;
}

svg:hover {
  fill: #00ffff;
}

.blue-svg:hover {
  fill: black;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.star-style {
  padding-left: 20px;
}
